<%= Movie %>

<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
</ul>

 <%= link_to new_list_path do%>
    <button type="button" class="btn btn-primary m-3">Add List</button>
  <% end %>
