.outer {
  background-color: #3fb944;
  width: 45%;
  margin-top: 30px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_list {
  width: 100%;
}

.input {
  width: 70%;
}
