<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Le Wagon</a>
    <div class="d-flex gap-3 me-3">
      <a href="#" class="link-secondary text-decoration-none fw-bold">My lists</a>
      <a href="#" class="link-secondary text-decoration-none fw-bold">New list</a>
    </div>
  </div>
</nav>
